<ol class="breadcrumb">
    <li><a href="{{ site.url }}">Home</a></li>
    {% for ancestor in breadcrumbs.ancestors %}
        <li><a href="{{ ancestor.link }}">{{ ancestor.name }}</a></li>
    {% endfor %}
    <li class="active">{{ breadcrumbs.category.name }}</li>
</ol>
