{%  extends 'base.twig' %}

{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">{{ site.title }}</h1>
            <p class="lead blog-description">{{ site.description }}</p>
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% include 'partials/blog/post.twig' %}
            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                {% include 'partials/sidebar.twig' %}

                <div class="sidebar-module">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}
